* {
	font-family: Arial, Verdana, Trebuchet MS;
}

/* Header contenant la photo et le nom*/

.box_header {
	display: flex;
	flex-direction: row;
	width: 94rem;
	height: 24.5rem;
}

.cadre_photo_didentite { /* Bloc contenant la photo */
	width: 30rem;
	background-color: #00ACC1;
}
.photo_didentite {
	width: 17rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
}
img:hover.photo_didentite {
	transform: scale(1.1);
    transition: .3s ease-in-out;
}
.prenom_nom { /* Bloc contenant le prénom et le nom */
	width: 64rem;
	line-height: 1rem;
}
.prenom_nom h1 {
	font-size: 4.75rem;
	margin-top: 9rem;
	font-weight: normal;
	margin-left: 5rem;
}
.prenom_nom h2 {
	font-size: 2.25rem;
	font-weight: bold;
	margin-left: 2.25em;
}
.prenom {
	color: #00ACC1;
}
.nom {
	font-family: Courrier New;
}
.devel {
	text-decoration: underline #00ACC1; 
	text-underline-position: under;
}


/* Section contenant la partie "CONTACT" (à gauche) et la partie "FORMATION" (à droite) */

.contact_formation {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 34rem;
}
.contact { /* Bloc contenant les coordonnées */
	width: 30rem;
	background-color: #00ACC1;
}
.contact h3 {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.liste_contact {
	font-size: 1.25rem;
	margin-left: 1.5rem;
	margin-top: 3rem;
	list-style-type: none;
	line-height: 2rem;
	font-style: normal;
}
.adresse_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
a:link.adresse {
	color: white;
}
a:hover.adresse {
	background: black;
}
a:visited.adresse {
	color: white;
}
.tel_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
a:link.tel {
	color: white;
}
a:hover.tel {
	background: black;
} 
a:visited.tel {
	color: white;
}
.mail_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
a:link.mail {
	color: white;
}
a:hover.mail {
	background: black;
}
a:visited.mail {
	color: white;
}
.site_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
a:link.lien_site_web {
	color: white;
}
a:hover.lien_site_web {
	background: black;
}
a:visited.lien_site_web {
	color: white;
}
.formation { /* Bloc présentant la formation */
	width: 64rem;
}
.icone_formation
{
	display: flex;
	align-items: left;
}
.formation i {
	margin-left: 5.25rem;
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.35rem;
}
.formation h3 {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.5rem;
	margin-bottom: 0rem;
}
.trait_formation {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
}
.contenu_formation {
	display: flex;
	flex-direction: row;
}
.nom_formation {
	margin-top: 1.5rem;
	margin-left: 13.5rem;
	line-height: 0rem;
}
.date_ville_formation {
	list-style-type: none;
	margin-left: 2.5rem;
	margin-top: 2.75rem;
	font-weight: bold;
	font-size: 1.25rem;
}
.date:before {
	content: "#";
	font-size: 1.25rem;
	font-weight: bold; 
	color: #00ACC1;
	margin-right: 1.8rem;
}
.ville {
	margin-left: 2.5rem;
}
.nom_formation h4 {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}
.nom_formation h4,a:link {
	color: #00ACC1;
}
.nom_formation h4,a:hover {
	background: #B2EBF2;
} 
.nom_formation h4,a:visited {
	color: #00ACC1;
}
.nom_formation h5 {
	font-size: 1.25rem;
	font-weight: normal;
	margin-bottom: 2..5rem;
}
.nom_formation h5,a:link {
	color: #00ACC1;
}
.nom_formation h5,a:hover {
	background: #B2EBF2;
} 
.nom_formation h5,a:visited {
	color: #00ACC1;
}
.nom_formation p {
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: normal;
	text-align: justify;
	margin-right: 5rem;
}
.nom_formation p {
	font-size: 1.25rem;
	font-weight: normal;
}
a:link.lien_formation {
	color: #00ACC1;
}
a:hover.lien_formation {
	background: #B2EBF2;
} 
a:visited.lien_formation {
	color: #00ACC1;
}


/* Section contenant la présentation et les compétences */

.presentation_competences {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 45rem;
}
.presentation { /* Bloc contenant la présentation */
	width: 30rem;
	background-color: #00ACC1;
}
.presentation h3 {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.presentation p {
	margin-top: 3rem;
	font-size: 1.25;
	text-align: justify;
	margin-left: 3.75rem;
	margin-right: 3.75rem;
	font-style: italic;
	font-weight: normal;
}
.competences { /* Bloc contenant les compétences */
	width: 64rem;
}
.icone_competences {
	display: flex;
	align-items: left;
}
.competences i {
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.5rem;
	margin-left: 5.25rem;
}
i:hover {
	transform: scale(1.1);
    transition: .3s ease-in-out;
}
.competences h3 {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.65rem;
	margin-bottom: 0rem;
}
.trait_competences {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
	margin-bottom: 3rem;
}
.liste_competences {
	margin-right: 5rem;
}
.liste_competences li {
	list-style-type: none;
	font-size: 1.6rem;
	font-weight: bold;
	margin-left: 2.5rem;
	margin-top: 0.5rem;
}
.liste_competences li:before {
	content: "#";
	font-size: 1.6rem;
	font-weight: bold; 
	color: #00ACC1;
	margin-right: 1.8rem;
}
.sous_competences {
	overflow-y: scroll;
	height: 3rem;
	margin-top: 0.5rem;
	margin-left: 5rem;
	font-size: 1.25rem;
	font-weight : normal;
}

/* Footer contenant les loisirs et le portfolio */

.loisirs_portfolio {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 24rem;
}
.loisirs { /* Bloc contenant les loisirs */
	width: 30rem;
	background-color: #00ACC1;
}
.loisirs h3 {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.icones_loisirs i {
	color: white;
	font-size: 6rem;
	margin-left: 2rem;
	margin-top: 3.5rem;
}
.portfolio { /* Bloc contenant le portfolio */
	width: 64rem;
}
.icone_portfolio
{
	display: flex;
	align-items: left;
}
.portfolio i {
	margin-left: 5.25rem;
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.35rem;
}
.portfolio h3 {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.5rem;
	margin-bottom: 0rem;
}
.trait_portfolio {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
}
.contenu_portfolio {
	display: flex;
	flex-direction: row;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 3rem;
	color: #00ACC1;
}
.liste_portfolio_1 {
	margin-left: 5rem;
	width: 25rem;
}
.liste_portfolio_2 {
	margin-right: 5rem;
	width: 25rem;
	margin-left: 5rem;
}
.contenu_portfolio li {
	margin-bottom: 2rem;
	list-style-type: none;
}

@media screen and (max-width:768px) {
	.box_header {
		display: flex;
		flex-direction: column;
	}
	.cadre_photo_didentite {
		width: 768px;
	}
	.photo_didentite {
		margin-top: 0rem;
		width: 14rem;
	}
	.prenom_nom {
		width: 768px;
    }
    .prenom_nom h1 {
    	margin-left: 11rem;
    	font-size: 3rem;
    	margin-top: 3rem;
    }
    .prenom_nom h2 {
    	margin-left: 11rem;
    	font-size: 2rem;
    }
	.contact_formation {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;
	}
	.contact {
		width: 768px;
		position: relative;
		margin-top: 0rem;
	}
	.liste_contact {
		margin-top: 0rem;
	}
	.liste_contact li {
		display : list-item;
		float: left;
		margin-right: 2rem;
	}
	.formation {
		width: 768px;
	}
	.contenu_formation {
		margin-left: 0rem;
	}
	.nom_formation {
		margin-left: 2rem;
	}
	.presentation_competences {
		display: flex;
		flex-direction: column;
		margin-bottom: 20rem;
	}
	.presentation {
		width: 768px;
	}
	.presentation h3 {
		margin-bottom: 1rem;
	}
	.presentation p {
		margin-top: 0rem;
	}
	.competences {
		width: 768px;
	}
	.loisirs_portfolio {
		display: flex;
		flex-direction: column;
	}
	.loisirs {
		width: 768px;
	}
	.icones_loisirs i {
		margin-top: 0rem;
		font-size: 2rem;
		margin-left: 10rem;
		margin-bottom: 2rem;
	}
	.portfolio {
		width: 768px;
	}
	.contenu_portfolio {
		margin-top: 1rem;
	}
}
