* {
	font-family: Arial, Verdana, Trebuchet MS;
}
body {
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.page-title {
	margin: 0px;
	text-align: center;
	line-height: 2.5em;
	font-size: 4em;
	margin-bottom: 50px;
}
.text-color {
	background-color: #00897B;
	color: #FBC02D;
}
.text-bottom {
	margin: 0px;
	line-height: 1.5em;
	font-size: 2.25em;
	padding: 0.25em;
}
.text-right {
	float: right;
	text-align: right;
}
.text-footer {
	width: 50%;
}
.text-center {
	text-align: center;
	margin-right: 40%; 
	margin-left:40%;
	margin-bottom: 50px;
	margin-top: 50px;
	border-radius: 20px;
}
.menu {
	width: 40%;
	height: 50em;
	margin: 0px;
	box-shadow: 1px 1px 10px #9E9E9E;
}
.salmon-menu {
	background-color: #ffcdd2;
	float: left;
	margin-bottom: 50px;
	margin-left: 120px;
}
.purple-menu {
	background-color: #F3E5F5;
	float: right;
	margin-bottom: 50px;
	margin-right: 120px;
}
.grey-menu {
	background-color: #EEEEEE;
	float: left;
	margin-left: 120px;
}
.white-menu {
	float: right;
	margin-right: 120px;
}
