/*Object: It's a responsive website CV*/
/*Structure : There is 2 major container <div> : a left blocfor personal informations and a right for professional informations*/

* {
	font-family: Arial, Verdana, Trebuchet MS;
}

body {
	margin: 0%;
}

.page-bloc {
	width: 100%;
	display: flex;
}

/*First, it's the left bloc <div> about personal informations*/

.left-bloc {
	width: 30%;
	background-color: #00ACC1;
}

/*The header contains a rounded photo*/

.responsive-identity-job {
	display: none;
}
.left-bloc-photo {
	border-radius: 50%;
	width: 55%;
	margin-top: 10%;
	margin-left: 22.5%;
	margin-bottom: 10%;
}
.left-bloc-photo:hover {
	transform: scale(1.1);
    transition: .3s ease-in-out;
}

/*Contact title on a black strip*/

.left-bloc-contact-title {
	font-size: 250%;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 150%;
	color: #00ACC1;
	margin-top: 0%;
}

/*Interactive contact information links*/

.left-bloc-contact-informations {
	margin-left: 6%;
	margin-top: 22.5%;
	list-style-type: none;
	line-height: 50%;
	font-style: normal;
}
.contact-informations-text {
	font-size: 150%
}
.contact-informations-adress {
	margin-bottom: 10%;
}
.adress-link:link {
	color: white;
}
.adress-link:hover {
	background: black;
}
.adress-link:visited {
	color: white;
}
.contact-informations-tel {
	margin-bottom: 10%;
}
.tel-link:link {
	color: white;
}
.tel-link:hover {
	background: black;
}
.tel-link:visited {
	color: white;
}
.contact-informations-mail {
	margin-bottom: 10%;
}
.mail-link:link {
	color: white;
}
.mail-link:hover {
	background: black;
}
.mail-link:visited {
	color: white;
}
.contact-informations-site {
	margin-bottom: 10%;
}
.site-link:link {
	color: white;
}
.site-link:hover {
	background: black;
}
.site-link:visited {
	color: white;
}

/*About title on a black strip*/

.left-bloc-about-title {
	font-size: 250%;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 150%;
	color: #00ACC1;
	margin-top: 30%;
}

/*An italic presentation text*/

.about-text {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 125%;
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
	font-style: italic;
}

/*Hobbies title on a black strip*/

.left-bloc-hobbies-title {
	font-size: 250%;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 150%;
	color: #00ACC1;
	margin-top: 0%;
}

/*Hobbies icons*/

.fa-dumbbell {
	color: white;
	font-size: 450%;
	margin-left: 10%;
	margin-top: 7.5%;
	margin-bottom: 5%;
}
.fa-book-reader {
	color: white;
	font-size: 450%;
	margin-left: 10%;
	margin-top: 7.5%;
	margin-bottom: 5%;
}
.fa-music {
	color: white;
	font-size: 450%;
	margin-left: 10%;
	margin-top: 7.5%;
	margin-bottom: 5%;
}

/*Next, it's the right bloc <div> about professional informations*/

.right-bloc {
	width: 70%;
}

/*The header contains the identy and the job*/

.identity {
	font-size: 500%;
	margin-top: 13%;
	font-weight: normal;
	margin-left: 10%;
	line-height: 0%;
	margin-bottom: 9%;
}
.firstname {
	color: #00ACC1;
}
.name {
	font-family: Courrier New;
}
.job {
	font-size: 300%;
	font-weight: bold;
	margin-left: 10%;
	line-height: 0%
}
.devel {
	text-decoration: underline #00ACC1; 
	text-underline-position: under;
}

.right-bloc-trait {
	background-color: #00ACC1;
	height: 5px;
	margin-left: 10%;
	margin-right: 5%;
}

/*The icon and the title are aligned. There is a trait under the title*/

.right-bloc-icon-formation-title {
	display: flex;
}
.fa-graduation-cap {
	margin-left: 10%;
	color: #00ACC1;
	font-size: 300%;
	margin-top: 7%;
}
.right-bloc-formation-title {
	font-size: 225%;
	margin-left: 5%; 
	margin-top: 9.5%;
	margin-bottom: 3%;
	line-height: 0%;
}

/*Informations about formation*/

.right-bloc-formation-container {
	display: flex;
}
.date-city-formation {
	list-style-type: none;
	margin-left: 6%;
	margin-top: 5%;
	font-weight: bold;
	font-size: 1.25em;
}
.fa-dot-circle {
	color: #00ACC1;
	margin-right: 1.2em;
}
.city {
	margin-left: 2.2em;
}
.formation-informations {
	margin-top: 1.5em;
	margin-left: 20%;
	line-height: 0em;
}
.school-name {
	margin-top: 7%;
	font-size: 1.6em;
	font-weight: bold;
}
.school-link :link {
	color: #00ACC1;
}
.school-link:hover {
	background: #B2EBF2;
} 
.school-link:visited {
	color: #00ACC1;
}
.diploma-name {
	font-size: 1.25em;
	font-weight: normal;
	margin-bottom: 1.5em;
}
.diploma-link:link {
	color: #00ACC1;
}
.diploma-link:hover {
	background: #B2EBF2;
} 
.diploma-link:visited {
	color: #00ACC1;
}
.formation-text {
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1.5em;
	font-weight: normal;
	text-align: justify;
	margin-right: 10%;
}
.course-link:link {
	color: #00ACC1;
}
.course-link:hover {
	background: #B2EBF2;
} 
.course-link:visited {
	color: #00ACC1;
}

/*A skill list with round icons*/

.right-bloc-icon-skills-title {
	display: flex;
}
.fa-file-alt {
	color: #00ACC1;
	font-size: 300%;
	margin-top: 4%;
	margin-left: 10%;
}
.right-bloc-skills-title {
	font-size: 225%;
	margin-left: 6.5%;
	margin-bottom: 1%;
	margin-top: 4.5%;
}
.skills-list {
	margin-right: 10%;
	margin-bottom: 0%;
}
.skills {
	list-style: none;
	height: 3.5em;
	font-size: 1.6em;
	font-weight: bold;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 0%;
}
.fa-circle {
	margin-right: 1em;
	color: #00ACC1;
}

/*This portfolio contains a projects list*/

.right-bloc-icon-portfolio-title {
	display: flex;
}
.fa-laptop-code {
	margin-left: 10%;
	color: #00ACC1;
	font-size: 2.75em;
	margin-top: 0%;
}
.right-bloc-portfolio-title {
	font-size: 2.25em;
	margin-left: 6.5%; 
	margin-top: 0%;
	margin-bottom: 1%;
}
.portfolio-list {
	display: flex;
	flex-direction: row;
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 1%;
	color: #00ACC1;
}
.projects-list-1 {
	margin-left: 5em;
	width: 25em;
}
.projects-list-2 {
	margin-right: 5em;
	width: 25em;
	margin-left: 5em;
}
.projects {
	margin-bottom: 5%;
}

/*Responsive*/

@media screen and (max-width:1210px) {
	.identity {
		font-size: 400%;
	}
	.job {
		font-size: 200%;
	}
	.left-bloc-contact-title {
		font-size: 175%;
		line-height: 100%;
	}
	.left-bloc-about-title {
		font-size: 175%;
		line-height: 100%;
	}
	.left-bloc-hobbies-title {
		font-size: 175%;
		line-height: 100%;
	}
	.fa-dumbbell {
		font-size: 300%;
		margin-top: 30%;
		margin-left: 14%;
	}
	.fa-book-reader {
		font-size: 300%;
		margin-top: 10%;
		margin-left: 14%;
	}
	.fa-music {
		font-size: 300%;
		margin-top: 10%;
		margin-left: 14%;
	}
}
@media screen and (max-width:1000px) {
	.identity {
		font-size: 300%;
	}
	.job {
		font-size: 100%;
	}
	.fa-graduation-cap {
		margin-left: 10%;
		color: #00ACC1;
		font-size: 175%;
		margin-top: 9.5%;
	}
	.fa-laptop-code {
		margin-left: 10%;
		color: #00ACC1;
		font-size: 175%;
		margin-top: 2.5%;
	}
	.fa-file-alt {
		margin-left: 10%;
		color: #00ACC1;
		font-size: 175%;
		margin-top: 7%;
	}
	.right-bloc-portfolio-title {
		font-size: 150%;
		margin-left: 5%; 
		margin-top: 4.5%;
		margin-bottom: 3%;
		line-height: 0%;
	}
	.right-bloc-skills-title {
		font-size: 150%;
		margin-left: 5%; 
		margin-top: 9.5%;
		margin-bottom: 3%;
		line-height: 0%;
	}
	.right-bloc-formation-title {
		font-size: 150%;
		margin-left: 5%; 
		margin-top: 12%;
		margin-bottom: 3%;
		line-height: 0%;
	}
	.portfolio-list {
		height: 150%;
	}
	.fa-dumbbell {
		font-size: 750%;
		margin-top: 30%;
		margin-left: 25%;
		margin-top: 1%;
	}
	.fa-book-reader {
		font-size: 750%;
		margin-top: 10%;
		margin-left: 25%;
		margin-top: 1%;
	}
	.fa-music {
		font-size: 750%;
		margin-top: 10%;
		margin-left: 25%;
		margin-top: 1%;
	}
}
@media screen and (max-width:850px) {
	.right-bloc-formation-container {
	display: flex;
	flex-direction: column;
	}
	.left-bloc-contact-title {
		font-size: 125%;
		line-height: 90%;
	}
	.left-bloc-about-title {
		font-size: 125%;
		line-height: 90%;
		margin-top: 5%;
	}
	.left-bloc-hobbies-title {
		font-size: 125%;
		line-height: 90%;
	}
	.contact-informations-text {
		font-size: 100%
	}
	.left-bloc-contact-informations {
		margin-top: 5%;
		line-height: 50%;
	}
	.about-text {
		font-size: 100%;
	}
	.formation-informations {
		margin-top: 0%;
		margin-left: 20%;
		line-height: 0em;
	}
	.skills {
		height: 3.5em;
		font-size: 1em;
		margin-top: 1em;
		margin-bottom: 2%;
	}
	.fa-dumbbell {
		font-size: 125%;
		margin-top: 30%;
		margin-left: 20%;
		margin-top: 15%;
	}
	.fa-book-reader {
		font-size: 125%;
		margin-top: 15%;
		margin-left: 20%;
		margin-top: 1%;
	}
	.fa-music {
		font-size: 125%;
		margin-top: 15%;
		margin-left: 20%;
		margin-top: 1%;
	}
	.portfolio-list {
	display: flex;
	flex-direction: column;
	}
}
@media screen and (max-width:800px) {
	.page-bloc {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.left-bloc {
		width: 100%;
	}
	.right-bloc {
		width: 100%;
	}
	.left-bloc-photo {
		width: 20%;
		margin-top: 2%;
		margin-left: 10%;
		margin-bottom: 2%;
	}
	.responsive-identity-job {
		display: unset;
		float: right;
		margin-right: 5%;
	}
	.responsvie-identity {
		font-size: 225%;
		margin-bottom: 0%;
		font-weight: normal;
	}
	.responsive-firstname {
		color: white;
	}
	.responsive-web {
		color: white;
	}
	.responsive-job {
		font-size: 150%;
		margin-bottom: 0%;
		margin-top: 2%;
		font-weight: normal;
	}
	.left-bloc-contact-informations {
		display: inline-flex;
		margin-left: 0%;
		line-height: 125%;
		margin-top: 0%;
		margin-bottom: 0%;
	}
	.contact-informations-adress {
		margin-left: 0%;
		margin-right: 12%;
	}
	.contact-informations-tel {
		margin-right: 12%;
	}
	.contact-informations-mail {
		margin-right: 12%;
	}
	.contact-informations-site {
		margin-right: 12%;
	}
	.left-bloc-about-title {
		margin-top: 0%;
	}
	.about-text {
		margin-top: 1%;
		margin-bottom: 1%;
		font-size: 100%;
		text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
	}
	.fa-dumbbell {
		font-size: 125%;
		margin-left: 20%;
		margin-top: 1%;
	}
	.fa-book-reader {
		font-size: 125%;
		margin-left: 20%;
		margin-top: 1%;
	}
	.fa-music {
		font-size: 125%;
		margin-top: 1%;
		margin-left: 20%;
	}
	.identity {
		display: none;
	}
	.job {
		display: none;
	}
}
@media screen and (max-width:600px) {
	.left-bloc-photo {
		width: 15%;
		margin-top: 2%;
		margin-left: 10%;
		margin-bottom: 2%;
	}
	.responsvie-identity {
		font-size: 150%;
	}
	.responsive-job {
		font-size: 100%;
	}
	.contact-informations-adress {
		font-size: 75%;
		margin-left: 0%;
		margin-right: 5%;
	}
	.contact-informations-tel {
		font-size: 75%;
		margin-right: 5%;
	}
	.contact-informations-mail {
		font-size: 75%;
		margin-right: 5%;
	}
	.contact-informations-site {
		font-size: 75%;
		margin-right: 5%;
	}
	.about-text {
		margin-top: 1%;
		margin-bottom: 1%;
		font-size: 75%;
		text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
	}
	.formation-informations {
		font-size: 75%;
	}
	.skills-list {
		font-size: 75%;
	}
	.portfolio-list {
		font-size: 75%;
	}
}
@media screen and (max-width:450px) {
	.left-bloc-contact-title {
		margin-bottom: 0%;
	}
	.contact-informations-adress {
		font-size: 50%;
		margin-left: 0%;
		margin-right: 3%;
	}
	.contact-informations-tel {
		font-size: 50%;
		margin-right: 3%;
	}
	.contact-informations-mail {
		font-size: 50%;
		margin-right: 3%;
	}
	.contact-informations-site {
		font-size: 50%;
		margin-right: 3%;
	}
	.contact-informations-text {
		font-size: 10%;
	}
	.skills {
		line-height: 85%;
	}
	.projects-list-1 {
		margin-left: 5%;
	}
	.projects-list-2 {
		margin-left: 5%;
	}
}
@media screen and (max-width:400px){
	.responsvie-identity {
		margin-top: 1%;
	}
	.left-bloc-contact-informations {
		display: flex;
		flex-direction: column;
	}
	.contact-informations-text {
		line-height: 95%;
		margin-bottom: 3%;
	}
	.left-bloc-contact-informations {
		line-height: 1%;
	}
	.skills {
		margin-bottom: 10%;
	}
	.projects {
		margin-left: 0%;
	}
	.projects-list-1 {
		margin-left: 5%;
	}
	.projects-list-2 {
		margin-left: 5%;
	}
}
@media screen and (max-width:320px) {
	.responsvie-identity {
		font-size: 100%;
	}
	.responsvie-job {
		font-size: 75%;
	}
	.skills {
		margin-bottom: 20%;
	}
}