* {
	font-family: Arial, Verdana, Trebuchet MS;
}

/* Header contenant la photo et le nom*/

.box_header {
	display: flex;
	flex-direction: row;
	width: 94rem;
	height: 24.5rem;
}

.cadre_photo_didentite { /* Bloc contenant la photo */
	width: 30rem;
	background-color: #00ACC1;
}
.photo_didentite {
	width: 17rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
}
.photo_didentite:hover {
	transform: scale(1.1);
    transition: .3s ease-in-out;
}
.prenom_nom { /* Bloc contenant le prénom et le nom */
	width: 64rem;
	line-height: 1rem;
}
.identity {
	font-size: 4.75rem;
	margin-top: 9rem;
	font-weight: normal;
	margin-left: 5rem;
}
.job {
	font-size: 2.25rem;
	font-weight: bold;
	margin-left: 2.25em;
}
.prenom {
	color: #00ACC1;
}
.nom {
	font-family: Courrier New;
}
.devel {
	text-decoration: underline #00ACC1; 
	text-underline-position: under;
}


/* Section contenant la partie "CONTACT" (à gauche) et la partie "FORMATION" (à droite) */

.contact_formation {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 34rem;
}
.contact { /* Bloc contenant les coordonnées */
	width: 30rem;
	background-color: #00ACC1;
}
.contact_title {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.liste_contact {
	font-size: 1.25rem;
	margin-left: 1.5rem;
	margin-top: 3rem;
	list-style-type: none;
	line-height: 2rem;
	font-style: normal;
}
.adresse_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
.adresse:link {
	color: white;
}
.adresse:hover {
	background: black;
}
.adresse:visited {
	color: white;
}
.tel_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
.tel:link {
	color: white;
}
.tel:hover {
	background: black;
} 
.tel:visited {
	color: white;
}
.mail_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
.mail:link {
	color: white;
}
.mail:hover {
	background: black;
}
.mail:visited {
	color: white;
}
.site_block {
	line-height: 0.5rem;
	margin-bottom: 2.5rem;
}
.lien_site_web:link {
	color: white;
}
.lien_site_web:hover {
	background: black;
}
.lien_site_web:visited {
	color: white;
}
.formation { /* Bloc présentant la formation */
	width: 64rem;
}
.icone_formation
{
	display: flex;
	align-items: left;
}
.fa-graduation-cap {
	margin-left: 5.25rem;
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.35rem;
}
.formation_tilte {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.5rem;
	margin-bottom: 0rem;
}
.trait_formation {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
}
.contenu_formation {
	display: flex;
	flex-direction: row;
}
.nom_formation {
	margin-top: 1.5rem;
	margin-left: 13.5rem;
	line-height: 0rem;
}
.date_ville_formation {
	list-style-type: none;
	margin-left: 2.5rem;
	margin-top: 2.75rem;
	font-weight: bold;
	font-size: 1.25rem;
}
.fa-dot-circle {
	color: #00ACC1;
	margin-right: 1.2rem;
}
.ville {
	margin-left: 2.5rem;
}
.school_name {
	font-size: 1.6rem;
	font-weight: bold;
}
.school_link :link {
	color: #00ACC1;
}
.school_link:hover {
	background: #B2EBF2;
} 
.school_link:visited {
	color: #00ACC1;
}
.diploma_name {
	font-size: 1.25rem;
	font-weight: normal;
	margin-bottom: 1.5rem;
}
.diploma_link:link {
	color: #00ACC1;
}
.diploma_link:hover {
	background: #B2EBF2;
} 
.diploma_link:visited {
	color: #00ACC1;
}
.p_formation {
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: normal;
	text-align: justify;
	margin-right: 5rem;
}
.p_formation {
	font-size: 1.25rem;
	font-weight: normal;
}
.lien_parcours:link {
	color: #00ACC1;
}
.lien_parcours:hover {
	background: #B2EBF2;
} 
.lien_parcours:visited {
	color: #00ACC1;
}


/* Section contenant la présentation et les compétences */

.presentation_competences {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 45rem;
}
.presentation { /* Bloc contenant la présentation */
	width: 30rem;
	background-color: #00ACC1;
}
.presentation_title {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.p_presentation {
	margin-top: 3rem;
	font-size: 1.25;
	text-align: justify;
	margin-left: 3.75rem;
	margin-right: 3.75rem;
	font-style: italic;
	font-weight: normal;
}
.competences { /* Bloc contenant les compétences */
	width: 64rem;
}
.icone_competences {
	display: flex;
	align-items: left;
}
.fa-file-alt {
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.5rem;
	margin-left: 5.25rem;
}
.competences_title {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.65rem;
	margin-bottom: 0rem;
}
.trait_competences {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
	margin-bottom: 3rem;
}
.liste_competences {
	margin-right: 5rem;
}
.competences_lines {
	list-style: none;
	height: 7rem;
	font-size: 1.6rem;
	font-weight: bold;
	margin-left: 2.5rem;
	margin-top: 0.5rem;
}
.fa-circle {
	margin-right: 1rem;
	color: #00ACC1;
}

/* Footer contenant les loisirs et le portfolio */

.loisirs_portfolio {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	box-sizing: content-box;
	width: 94rem;
	height: 24rem;
}
.loisirs { /* Bloc contenant les loisirs */
	width: 30rem;
	background-color: #00ACC1;
}
.loisirs_title {
	font-size: 2.25rem;
	font-style: normal; 
	text-align: center; 
	background-color: black;
	line-height: 3.75rem;
	color: #00ACC1;
	margin-top: 0rem;
}
.fa-dumbbell {
	color: white;
	font-size: 6rem;
	margin-left: 2rem;
	margin-top: 3.5rem;
}
.fa-book-reader {
	color: white;
	font-size: 6rem;
	margin-left: 2rem;
	margin-top: 3.5rem;
}
.fa-music {
	color: white;
	font-size: 6rem;
	margin-left: 2rem;
	margin-top: 3.5rem;
}
.portfolio { /* Bloc contenant le portfolio */
	width: 64rem;
}
.icone_portfolio
{
	display: flex;
	align-items: left;
}
.fa-laptop-code {
	margin-left: 5.25rem;
	color: #00ACC1;
	font-size: 2.75rem;
	margin-top: 0.35rem;
}
.portfolio_title {
	font-size: 2.25rem;
	margin-left: 2.5rem; 
	margin-top: 0.5rem;
	margin-bottom: 0rem;
}
.trait_portfolio {
	background-color: #00ACC1;
	height: 0.2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0.25rem;
}
.contenu_portfolio {
	display: flex;
	flex-direction: row;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 3rem;
	color: #00ACC1;
}
.liste_portfolio_1 {
	margin-left: 5rem;
	width: 25rem;
}
.liste_portfolio_2 {
	margin-right: 5rem;
	width: 25rem;
	margin-left: 5rem;
}
.portfolio_lines {
	margin-bottom: 2rem;
	list-style-type: none;
}

/*Responsive for tablets*/

@media screen and (max-width:768px) { 
	.box_header {
		display: flex;
		flex-direction: column;
		width: 768px;
	}
	.cadre_photo_didentite {
		width: 768px;
	}
	.photo_didentite {
		margin-top: 0rem;
		width: 14rem;
	}
	.prenom_nom {
		width: 768px;
    }
    .prenom_nom h1 {
    	margin-left: 11rem;
    	font-size: 3rem;
    	margin-top: 3rem;
    }
    .prenom_nom h2 {
    	margin-left: 11rem;
    	font-size: 2rem;
    }
	.contact_formation {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;
	}
	.contact {
		width: 768px;
		position: relative;
		margin-top: 0rem;
	}
	.liste_contact {
		margin-top: 0rem;
	}
	.liste_contact li {
		display : list-item;
		float: left;
		margin-right: 2rem;
	}
	.formation {
		width: 768px;
	}
	.contenu_formation {
		margin-left: 0rem;
	}
	.nom_formation {
		margin-left: 2rem;
	}
	.presentation_competences {
		display: flex;
		flex-direction: column;
		margin-bottom: 20rem;
		margin-top: 11rem;
	}
	.presentation {
		width: 768px;
	}
	.presentation h3 {
		margin-bottom: 1rem;
	}
	.presentation p {
		margin-top: 0rem;
	}
	.competences {
		width: 768px;
	}
	.loisirs_portfolio {
		display: flex;
		flex-direction: column;
		margin-top: 24rem;
	}
	.loisirs {
		width: 768px;
	}
	.icones_loisirs i {
		margin-top: 0rem;
		font-size: 2rem;
		margin-left: 10rem;
		margin-bottom: 2rem;
	}
	.portfolio {
		width: 768px;
	}
	.contenu_portfolio {
		margin-top: 1rem;
	}
}

/*Responsive for Google Nexus 7*/

@media screen and (max-width:600px) { 
	.box_header {
		display: flex;
		flex-direction: column;
		width: 600px;
		height: 20rem;
	}
	.cadre_photo_didentite {
		width: 600px;
	}
	.photo_didentite {
		margin-top: 0rem;
		width: 10rem;
	}
	.prenom_nom {
		width: 600px;
		margin-bottom: 0rem;
    }
    .prenom_nom h1 {
    	margin-left: 8rem;
    	font-size: 2.5rem;
    	margin-top: 3rem;
    }
    .prenom_nom h2 {
    	margin-left: 8rem;
    	font-size: 1.5rem;
    	margin-bottom: 0rem;
    }
	.contact_formation {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;
		margin-top: 0rem;
	}
	.contact {
		width: 600px;
		position: relative;
		margin-top: 0rem;
	}
	.liste_contact {
		margin-top: 0rem;
	}
	.liste_contact li {
		display : list-item;
		float: left;
		margin-right: 2rem;
	}
	.formation {
		width: 600px;
	}
	.contenu_formation {
		margin-left: 0rem;
	}
	.nom_formation {
		margin-left: 2rem;
	}
	.presentation_competences {
		display: flex;
		flex-direction: column;
		margin-bottom: 20rem;
		margin-top: 11rem;
	}
	.presentation {
		width: 600px;
		margin-top: 15rem;
	}
	.presentation h3 {
		margin-bottom: 1rem;
	}
	.presentation p {
		margin-top: 0rem;
	}
	.competences {
		width: 600px;
	}
	.loisirs_portfolio {
		display: flex;
		flex-direction: column;
		margin-top: 23rem;
	}
	.loisirs {
		width: 600px;
		margin-top: 16rem;
	}
	.icones_loisirs i {
		margin-top: 0rem;
		font-size: 2rem;
		margin-left: 7rem;
		margin-bottom: 2rem;
	}
	.portfolio {
		width: 600px;
	}
	.contenu_portfolio {
		margin-top: 1rem;
	}
}

/*Responsive for Iphone 5*/

@media screen and (max-width:320px) { 
	.box_header {
		display: flex;
		flex-direction: column;
		width: 320px;
		height: 15rem;
	}
	.cadre_photo_didentite {
		width: 320px;
	}
	.photo_didentite {
		margin-top: 0rem;
		width: 10rem;
	}
	.prenom_nom {
		width: 320px;
		margin-bottom: 0rem;
    }
    .prenom_nom h1 {
    	margin-left: 3rem;
    	font-size: 1rem;
    	margin-top: 1rem;
    }
    .prenom_nom h2 {
    	margin-left: 3rem;
    	font-size: 0.5rem;
    	margin-bottom: 0rem;
    }
	.contact_formation {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;
		margin-top: 0rem;
	}
	.contact {
		width: 320px;
		position: relative;
		margin-top: 0rem;
	}
	.liste_contact {
		margin-top: 0rem;
	}
	.liste_contact li {
		display : list-item;
		float: left;
		margin-right: 2rem;
	}
	.formation {
		width: 320px;
	}
	.contenu_formation {
		margin-left: 0rem;
	}
	.nom_formation {
		margin-left: 2rem;
	}
	.presentation_competences {
		display: flex;
		flex-direction: column;
		margin-bottom: 20rem;
		margin-top: 11rem;
	}
	.presentation {
		width: 320px;
		margin-top: 15rem;
	}
	.presentation h3 {
		margin-bottom: 1rem;
	}
	.presentation p {
		margin-top: 0rem;
	}
	.competences {
		width: 320px;
	}
	.loisirs_portfolio {
		display: flex;
		flex-direction: column;
		margin-top: 23rem;
	}
	.loisirs {
		width: 320px;
		margin-top: 16rem;
	}
	.icones_loisirs i {
		margin-top: 0rem;
		font-size: 2rem;
		margin-left: 7rem;
		margin-bottom: 2rem;
	}
	.portfolio {
		width: 320px;
	}
	.contenu_portfolio {
		margin-top: 1rem;
	}
}